/*drawing app css */

body {
  background-color: #aaa;
  text-align: center;
}

a {
  text-decoration: none;
  color: #87a9e6;transition: all 0.25s;
}
a:hover{color: #a9b9f6;}
a:visited{color: #a99fd0;}

header, footer{
  background-color: #001;
  color: #ddd;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
  padding: 0 5em;
}

footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.menu{
  align-self:flex-end;
  background-color: #aaa;
  padding:1em 1em 0.62em;
  border-radius: 0.24em 1em 0;
  font-size: 110%;

}
.menu-item{padding:0 0.62em;}

canvas {
  touch-action: none;
  background-color: #eee;
  border: #999 1px solid
}

button{
}

/*mq for smaller screens */

@media (max-width: 38em){
header, footer {padding: 0 1.4em; }
.menu{align-self:stretch; padding: 0.4em;}
.menu-item{padding: 0; display:inline-flex;margin-bottom:1em;}

}
